body {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: Arial, sans-serif;
    color: rgb(200, 3, 3)
}

.quiz-number{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
    color:black
}

.quiz-container {
    margin: 50px auto;
    max-width: 600px;
}

img {
    max-width: 100%;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}
